.container_ {
  width: 1150px;
  margin: 0 auto;
}
//---------------SIGN_UP FORM------------//
.parentForm {
  background-color: orangered;
  .signUp_text {
    .icon_shoppe {
      font-size: 180px;
    }
  }
  .form-container {
    // background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .form_title {
      h1 {
        font-size: 28px;
      }
    }
    form {
      padding: 10px 0px;
      .password_form {
        position: relative;
        .exposed_password {
          position: absolute;
          right: 10px;
          top: 40%;
          color: rgb(185, 182, 177);
        }
      }
    }
  }
}

//-------------HEADER COMPONENT------------//

//-------------FOOTER COMPONENT------------//
footer {
  font-size: 14px;
  .item {
    .list {
      li {
        // display: inline-block;
        a {
          &:hover {
            color: orangered;
          }
          display: inline-block;
          padding-bottom: 9px;
          font-size: 13px;
          transition: all 0.3s;
        }
      }
    }
  }
  .item_pay {
    img {
      width: 100%;
      padding: 12px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
  }
  .download_item {
    .download_detailed_item {
      img {
        padding: 3px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }
    }
  }
}

//-------------SIGNIN---------------
.signInContainer {
  .signin_title {
    position: relative;
    &::before {
      content: "";
      height: 2px;
      width: 100%;
      border-bottom: 2px solid #ef4444;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }
  form {
    position: relative;
    .password_container {
      position: relative;
      .show_password {
        position: absolute;
        top: 35%;
        right: 10px;
        color: rgb(185, 182, 177);
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -75%;
      border-bottom: 1px solid rgb(185, 182, 177);
      width: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//--------------HEADER_HOME---------------
.header_home {
  width: 1150px;
  margin: 0 auto;
  .searchContainer {
    position: relative;
    input {
      &:focus-visible {
        border-color: #ef4444;
      }
    }
    .search_icon {
      position: absolute;
      right: 10px;
      top: 8%;
      padding: 8px 20px;
      background-color: #fb5730;
      color: white;
    }
  }
}

//-------------CATEGORIES-------------
.item_category {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  img {
    &:hover {
      transform: translateY(-10px);
    }
  }
}

//-----------------PRODUCTS------------
.products {
  .detail_item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .price {
      font-size: 14px;
    }
    border: 2px solid gray;
    transition: all 0.3s;
    .infor_item {
      .nameItem {
        transition: all 0.3s;
        &:hover {
          color: #288ad6;
        }
      }
    }
    &:hover {
      transform: translateY(-5px);
      border-color: #fb5730;
    }
  }
}

//-----------------CATEGORYBASEDPRODUCTS----------
.filterBar {
  .price_sort {
    position: relative;
    &:hover {
      .sort_options {
        display: inline-block;
      }
      .arrow_icon {
        transform: rotate(90deg);
      }
    }
    .sort_options {
      position: absolute;
      bottom: -180%;
      left: 0;
      display: none;

      .item_list-border {
      }
    }
  }
}
